html {
  font-family: sans-serif;
  background-color: #a7c4b5;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 10px;

}
.data {
  background-color: #beffc7;
  border-radius: 10px;
}
.container h1 h2 h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.surrender{
  text-decoration: none;
  background-color: #9dcba3;
  color: #fff;
  border-radius: 10px;
  padding: 2px 10px;
}

.surrender:hover{
  background-color: #74725f;
}

table {
  border-collapse: separate;
  border: 2px solid #9aa0a8;
  letter-spacing: 21x;
  font-size: 0.8rem;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border-spacing: 3px;
}

td, th {
  border: 1px solid #9aa0a8;
  padding: 10px 20px;
  border-radius: 6px;
}

th {
  background-color: #9aa0a8;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

.table-header {
  font-weight: bold;
  font-size: 1.2rem;
}

.prog-web {
  background-color: rgb(255,255,0) !important; 
}

.automatas {
  background-color: rgb(90, 123, 233) !important;
}

.valores {
  background-color: rgb(255, 108, 40) !important;
}

.proyectos {
  background-color: rgb(0,255,0) !important;
}

.requisitos {
  background-color: rgb(209, 72, 209) !important;
}

#container {height: 100%; width:100%; font-size: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#left {width: 85%;}
#right {width: 10%;}